extends base.pug

block tit 
    | Class Schedule and information
block scripts 
block styles 
    style 
        include ../static/style.css
        include ../static/style-classInfo.css
block intro 
    | Class Schedule and other information
block intro1
    | Akansha Dance Academy 
block content 
    table.table 
        tr 
            th #
            th Day 
            th Timing 
        tr 
            td 1
            td Monday to friday 
            td 5:00 pm to 6:15 pm
        tr 
            td 2
            td Saturday 
            td 5:00 pm to 7:00 pm
        tr 
            td 3
            td Sunday 
            td Holiday 